waymo-od/
*.pem
CA_SanFrancisco_B23/
.claude/
Toronto_3D/
argverse_data_preview/
s5cmd/
ArgoverseLidar/av2_coor.feather
Argoverse2-geoalign/ATX
ArgoverseLidar/av2_coor.parquet
Data-Sample/
Data_pipeline/__pycache__
paper/__pycache__/
Data_sample_helper/__pycache__
paper/
data2/
data3/
data32/
analysis/__pycache__
no-gate-gicp-result/
op2-dsmsty-filter-gicp-result
processed_samples_austin_test
processed_samples_austin_train
Rell-sample-raster
model-save
Train/__pycache__
__pycache__